.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.controls {
  position: absolute;
  right: 0;
  z-index: 9999;
  width: 320px;
  height: 100vh;
  background: white;

  h4 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
}

.swarm {
  margin-bottom: 0.5rem;
}
.swarm > div {
  padding: 0.25rem;
}

.picker {
  display: flex;
  padding-top: 0.5rem;
}

.swatch {
  margin: 1px;
  margin-left: 2rem;
  padding: 2px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
  cursor: pointer;
}

.color {
  width: 36px;
  height: 26px;
  border-radius: 2px;
}

.popover {
  position: absolute;
  z-index: 2;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.snapshot {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 0.5rem;
}
