@font-face {
    font-family: ABCSans;
    font-weight: 400;
    font-style: normal;
    src: url(//res.abc.net.au/fonts/abcsansnova/20211112/abcsansnova-regular.woff2) format("woff2"),url(//res.abc.net.au/fonts/abcsansnova/20211112/abcsansnova-regular.woff) format("woff");
    font-display: swap
}

@font-face {
    font-family: ABCSans;
    font-weight: 700;
    font-style: normal;
    src: url(//res.abc.net.au/fonts/abcsansnova/20211112/abcsansnova-bold.woff2) format("woff2"),url(//res.abc.net.au/fonts/abcsansnova/20211112/abcsansnova-bold.woff) format("woff");
    font-display: swap
}

.dots {
  position: relative;
  z-index: 1;
  background-color: #0D659C; // Fallback if no js
  transition: background-color 0.2s;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  svg {
    background: none;
    width: 100vw;
    height: 100vh;
  }

  .group-label text,
  .presetLabel text {
    font-size: 15px;
    font-family: ABCSans, sans-serif;
    font-weight: 700;
    text-anchor: middle;
    animation: fadeIn 0.6s;
  }
  
  .group-label path,
  .presetLabel path {
    fill: none;
    stroke: rgba(255, 255, 255, 0.6);
    stroke-width: 1;
    animation: fadeIn 0.6s;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  98% { opacity: 0; }
  100% { opacity: 1; }
}


.dotLabel {
  transform: translate(-50%, 0);
  font-family: ABCSans, sans-serif;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  color: #fff;
  font-size: 0.9375rem;
  line-height: 1;
}

.dotLabel::before {
  content: '';
  display: inline-block;
  margin-right: 0.5rem;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: currentColor;
}
