.panel {
  &:nth-of-type(2) {
    margin-top: 5vh;
  }

  &::before {
    transition: background-color 0.2;
    background-color: var(--panel-bg-color, rgba(0, 0, 0, 0.6));
  }

  & > :not(:last-child) {
    margin-bottom: 1.5rem;
  }

  & > h2,
  & > h3 {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 24rem;
    max-width: 90%;
    color: #fefefe;
    line-height: 1.25;
    text-align: center;
    text-transform: none;
  }

  & > h2 {
    font-size: 2.25rem;
  }

  & > h3 {
    font-size: 1.75rem;
  }

  & a {
    color: #94E9FF !important;
  }
  & a:visited {
    color: #F8D1FA !important;
  }

  & a:link,
  & a:hover,
  & a:active,
  & a:visited {
    text-decoration: underline !important;
    text-decoration-color: rgba(255, 255, 255, 0.5) !important;
  }

  & a:hover,
  & a:active {
    text-decoration-color: #fff !important;
  }

  @media only screen and (min-width: 668px) and (max-width: 1022px) {
    width: 42rem;
  }

  @media only screen and (min-width: 1023px) {
    &:nth-of-type(2)[data-align='left'],
    &:nth-of-type(2)[data-align='right'] {
      margin-top: 30vh;
    }
  }
}


// Make the coloured background cover the whole page and make text white
:global(.Header) {
  background-color: var(--panel-bg-color, rgba(0, 0, 0, 0.6));
  margin-bottom: 30px !important;
}

:global([data-key="body"]) {
  background: red;
  background-color: var(--panel-bg-color, rgba(0, 0, 0, 0.6));

  & a {
    color: #94E9FF;
  }
  & a:visited {
    color: #F8D1FA;
  }

  & h1,
  & h2,
  & div,
  & ul,
  & p {
    color: white !important;
  }
}
