.panel {
  &:nth-of-type(2) {
    margin-top: 0;
  }

  &::before {
    opacity: 0.85;
    transition: background-color 0.2;
    background-color: var(--panel-bg-color, rgba(0, 0, 0, 0.6));
  }

  & > :not(:last-child) {
    margin-bottom: 1.5rem;
  }

  & > h2,
  & > h3 {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 24rem;
    max-width: 90%;
    color: #fefefe;
    line-height: 1.25;
    text-align: center;
    text-transform: none;
  }

  & > h2 {
    font-size: 2.25rem;
  }

  & > h3 {
    font-size: 1.75rem;
  }

  & a {
    color: #94e9ff !important;
  }
  & a:visited {
    color: #f8d1fa !important;
  }

  & a:link,
  & a:hover,
  & a:active,
  & a:visited {
    text-decoration: underline !important;
    text-decoration-color: rgba(255, 255, 255, 0.5) !important;
  }

  & a:hover,
  & a:active {
    text-decoration-color: #fff !important;
  }

  @media only screen and (min-width: 668px) and (max-width: 1022px) {
    width: 42rem;
  }
}
